@page
@model CBTDWeb.Pages.Manufacturers.UpsertModel
@{
}
<div class="card shadow border-0 mt-4">
   

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">@(Model.objManufacturer.Id != 0 ? "Update " : "Create ") Manufacturer</h2>

            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="objManufacturer.Name" class="form-control border-0 shadow" />
                    <label asp-for="objManufacturer.Name" class="ms-2"></label>
                    <span asp-validation-for="objManufacturer.Name" class="text-danger"></span>
                 </div>
                
                <!--You need to hide the Id (for edit mode, so the model knows which item you’re editing) -->
                @if (Model.objManufacturer.Id != 0)
                {
                    <input type="hidden" asp-for="objManufacturer.Id" />
                }
                <div class="row pt-2">
                    <button type="submit" class="btn btn-primary form-control">@(Model.objManufacturer.Id != 0 ? "Update " : "Create ") Manufacturer</button>
                    <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                        Back to List
                    </a>

                </div>
            </div>
        </form>
    </div>
</div>