@page
@model CBTDWeb.Pages.objProducts.IndexModel
@{
}
<div class="container">
    <div class="row pt=4">
        <!--Start Row-->
        <div class="col-6">
            <!--50% of row-->
            <h2 class="text-primary">
                Product List
            </h2>
        </div><!-- End 1st Column-->
        <div class="col-6 text-end">
            <!--50% row right justified-->
            <a asp-page="Upsert" asp-route-id="0" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div> <!--End 2nd Column-->
    </div> <!--End Row-->
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <!--Create a loop here-->
            @foreach (var obj in Model.objProductList)
            {
                <tr>
                    <td width="80%">@obj.Name</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>

                </tr>
                <!--End Loop Here-->
            }
        </tbody>
    </table>
</div> <!--Close Container-->
